 #error {
        background-color :pink;
        padding: 5px;
        border: solid 1px black;
        display: none;
    }

    #resultat {
        background: green;
        padding: 5px;
        color: white;
        display: none;
    }
    #resultat , #error{
        width: 550px;
        margin-left: 5%;
        margin-bottom: 20px;
        
    }
    .container{
         margin-top: 50px;
        background-color: white;
        padding-left: 50px;
        width: 800px;
        
        
    }
    body{
        
        background-color: #CECECE;
        padding-top: 30px;
    }
    .form-horizontal{
        margin: 0 auto;
    }