body
{
	background-color: #CECECE;
        margin: 5px;
        padding: 10px;
}
table
{
	background-color: white;
        border:1px solid black;
        margin: 5px;
        padding: 5px;
}
a{
	color: blue;
}

a:hover{
	color: orange;
}
h1{
    margin-left: 10px;
    margin-bottom: 0px;
}
td {
    padding-left: 10px;
    border-style: double;
}
tr{
    border-style: double;
}













